body {
    margin: 0
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #760257;
}

.container h1 {
    color: white;
    font-family: sans-serif;
    margin: 20px;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: sans-serif;
    background-color: #700144;
    padding: 20px;
}

.register-form input,
.register-form select,
.register-form textarea {
    border: none;
    padding: 5px;
    margin-top: 10px;
    font-family: sans-serif;
}

.register-form .submit {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    color: rgb(44, 44, 44);
    background-color: #ffffff;
    border-radius: 5px;
}