.names {
    width: 100%;
    background-color: lightblue;
}

th, td {
    border: 1px solid black;
    border-radius: 40px;
}

table {
    border: 1px solid black;
    border-radius: 15px;
}

.side-heading {
    font-weight: bold;
}